@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #d1cfc9;
    --foreground: #171717;
}

html {
    color-scheme: light;
}

html.dark {
    color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
    html:not(.light) {
        --background: #171717;
        --foreground: #d1cfc9;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
}
